html{
    justify-content: center;
    text-align: center;
    /* background-color: mediumaquamarine; */
    font-family: 'ADLaM Display', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Square Peg', cursive;
width: 100%;
height: 100%;
}
body{
    font-family: 'ADLaM Display', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Square Peg', cursive;
/* overflow: hidden; */
width: 100%;
height: 100%;

}
h1, h2 ,h3{
    font-weight: bolder;
    font-size: 100px;
    text-align: center;
    
}
#grid{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    
    
    /* margin: 300px; */
    /* padding: 3000px; */
}
.card{
    border: solid 2px black;
    /* padding: 150px 10px; */
    margin: 5px;
    border-radius: 3px;
}

.flx{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(to right, #13475F,
                    #145A6C,#77A289, #3b7e7a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
